<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>指标权重配置</title>
    <!--<link  rel="stylesheet"  href="../common/layui/css/layui.css" >-->

    <link rel="stylesheet" href="layui/css/layui.css" />
    <script type="text/javascript" src="layui/layui.js" ></script>
    <script src="https://how2j.cn/study/js/chartjs/2.8.0/chart.min.js"></script>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <form class="layui-form" lay-filter="EditUserForm">
                <label style="display:none;"><span></span><input type="text" name="id" ></label>
                <input name="id" style="display: none">

                <div class="layui-row layui-col-space12">
                    <div class="layui-col-sm6">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span style="color: red">*</span>一级报警</label>
                            <div class="layui-input-block">
                                <input type="text" name="level1AlarmWeight" lay-verify="required|number"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-sm6">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span style="color: red">*</span>二级报警</label>
                            <div class="layui-input-block">
                                <input type="text" name="level2AlarmWeight" lay-verify="required|number"  autocomplete="off" class="layui-input ">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-sm6">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span style="color: red">*</span>三级报警</label>
                            <div class="layui-input-block">
                                <input type="text" name="level3AlarmWeight" lay-verify="required|number"  autocomplete="off" class="layui-input ">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-sm6">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span style="color: red">*</span>预警</label>
                            <div class="layui-input-block">
                                <input type="text" name="forecastWeight"  lay-verify="required|number"  autocomplete="off" class="layui-input ">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10">
                    <div class="layui-col-sm6">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span style="color: red">*</span>天窗</label>
                            <div class="layui-input-block">
                                <input type="text" name="skylightWeight" lay-verify="required|number"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-col-space10">
                    <div class="layui-col-sm6">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span style="color: red">*</span>寿命</label>
                            <div class="layui-input-block">
                                <input type="text" name="lifeWeight" required  lay-verify="required|number"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button  th:type="button" lay-submit="" lay-filter="editConfig" class="layui-btn" onclick="shopUpSubmit(this)">确定</button>

                            <!--<button   class="layui-btn" lay-submit="" lay-filter="formDemo">立即提交</button>-->
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</div>

</body>
<script type="text/javascript">
    /**
     * 页面数据初始化
     * @param data
     */
    console.log("-------out init ---------");

    layui.use(['form','jquery','upload'],function () {
        const form = layui.form,layer = layui.layer,$ = layui.jquery,upload = layui.upload;
        var configUrl = "/ajaxWeightConfig";

        $.ajax(
            {
                type: "get",
                url: configUrl,
                dataType: "json",
                async: false,
                success: function (data) {
                    content = data.data;
                    // 表单值初始化
                    form.val("EditUserForm",{
                        "id":content.id
                        ,"level1AlarmWeight": content.level1AlarmWeight
                        ,"level2AlarmWeight": content.level2AlarmWeight
                        ,"level3AlarmWeight": content.level3AlarmWeight
                        ,"forecastWeight": content.forecastWeight
                        ,"skylightWeight": content.skylightWeight
                        ,"lifeWeight": content.lifeWeight
                    })
                },
                error:function () {}
            });


        window.shopUpSubmit = function(obj){

        }

        form.on('submit(editConfig)',function (data) {
            console.log("--------- 确定 ---------");
            console.log(data);
            console.log(data.field);

            let loadIndex;

            $.ajax({
                type: 'post'
                ,url: 'updateWeightConfig'
                ,dataType: 'json'
                ,data: data.field
                ,beforeSend: function () {
                    loadIndex = layer.load()
                }
                ,complete: function () {
                    layer.close(loadIndex);
                }
                ,error: function () {
                    layer.msg("服务异常,请稍后重试！")
                }
                ,success: function (data) {
                    console.log("---------success--------");
                    console.log(data);
                    if(data.status == 'success'){
                        layer.msg("修改成功",{time: 500},function () {
                            let parentIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(parentIndex);
                        })
                    }else{
                        layer.msg(data.errMsg)
                    }
                }

            })
            return false;

        });

/*        form.on('submit(editShop)',function (data) {

            let loadIndex;
            let field = data.field;
            delete field.officeUid
            delete field.userType
            delete field.loginName
            $.ajax({
                type: 'post'
                ,url: '/sys/user/edit'
                ,dataType: 'json'
                ,data: data.field
                ,beforeSend: function () {
                    loadIndex = layer.load()
                }
                ,complete: function () {
                    layer.close(loadIndex);
                }
                ,error: function () {
                    layer.msg("服务异常,请稍后重试！")
                }
                ,success: function (data) {
                    console.log("---------success--------");
                    console.log(data);
                    if(data.code == 0){
                        layer.msg("修改成功",{time: 500},function () {
                            let parentIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(parentIndex);
                        })
                    }else{
                        layer.msg(data.msg)
                    }
                }

            })
            return false;
        })*/


    });

</script>
</html>